{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", { "useBuiltIns": "usage", "corejs": "3.1.4" }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "lodash"
  ]
}
