@import '_variables.scss';

#sidebar {
  $animation: all 0.3s ease-out;

  display: flex;
  flex-flow: column nowrap;

  width: $sidebar-width;
  padding: 8px 0 0;
  overflow: hidden;

  box-shadow: inset 0 12px 12px -8px rgba($theme-color-dark, 0.6);
  transition: $animation;
  background: linear-gradient(
                  to bottom,
                  $theme-color-primary,
                  $theme-color-accent
  );

  &:hover {
    width: $sidebar-width-wide;

    .sidebar-element {
      min-width: $sidebar-width-wide - 24px;
    }

    > .footer {
      opacity: 1;
    }
  }

  .sidebar-element {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding: 6px;
    margin: 6px;
    transition: $animation;
    min-width: $sidebar-width - 24px;
  }

  > .sidebar-button {
    display: flex;
    flex-flow: row nowrap;

    pointer-events: auto;
    cursor: pointer;

    height: 38px;
    color: $theme-color-dark;
    text-decoration: none;
    border-radius: 10px;

    &:hover {
      box-shadow: 0 0 16px 0 rgba($theme-color-dark, 0.6);
    }

    &.active {
      background-color: $theme-color-accent;
    }

    > .icon {
      flex: 0 0 auto;
      padding-right: 12px;
    }

    > h3 {
      flex: 1 1 auto;
    }
  }

  > .footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    color: rgba($theme-color-dark, 0.75);
    width: $sidebar-width-wide;
    text-align: center;
    opacity: 0;
    transition: $animation;
  }
}
