@import '_variables.scss';

#topbar {
  width: 100vw;
  height: $topbar-height;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background: $theme-color-primary;
  box-shadow: inset 0 10px 8px -8px rgba($theme-color-dark, 0.6);

  > #header-image {
    height: $topbar-height;
    width: auto;
    flex: 0 1 auto;
  }

  .status-icon {
    height: $topbar-height - 13px;
    width: $topbar-height - 13px;
    position: absolute;
    top: 7px;
    right: 10px;
    z-index: 10;

    pointer-events: auto;
    cursor: pointer;

    &:hover {
      box-shadow: inset 0 0 20px 4px rgba($theme-color-dark, 0.1);
      border-radius: 10px;
    }

    .loading {
      animation: loading 1s linear infinite;
      cursor: default;
      pointer-events: none;
    }

    @keyframes loading {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
