@import '_variables.scss';

#view-schedule {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  box-sizing: border-box;

  padding: 20px 30px;

  .top {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;

    > .week-calendar.schedule {
      flex: 1 1 auto;
      margin-right: 30px;
      height: auto;

      box-shadow: -1px -1px 12px -2px rgba($theme-color-dark, 0.6);
      background: rgba($theme-color-primary, 0.1);

      .calendar-event {
        text-align: center;
      }
    }

    > .courses {
      flex: 0.25 0 300px;
      overflow-y: auto;

      > h3 {
        text-align: center;
        margin-bottom: 15px;
      }

      .add-course-card {
        background: $theme-color-bright;
        position: relative;
        padding: 0;

        .add-course-search {
          padding: 10px 20px;
        }

        .add-course-results {
          width: 100%;
          max-height: 320px;
          z-index: 10;
          position: absolute;

          box-sizing: border-box;
          background: $theme-color-bright;
          overflow-y: auto;
          padding: 5px 20px 0;

          box-shadow: 1px 1px 12px 0 rgba($theme-color-dark, 0.6);
          border-radius: 8px;

          .add-course-result-item {
            width: 100%;
            margin-bottom: 5px;
            padding: 5px;
            box-sizing: border-box;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            cursor: pointer;
            user-select: none;
            pointer-events: auto;

            border-radius: 8px;

            &.selected {
              background: rgba($theme-color-accent, 0.3);
            }

            &:hover {
              background: mix($theme-color-bright, $theme-color-dark, 80%);
            }
          }
        }
      }

      .selected-course {
        margin-top: 10px;
        height: auto;
        background: rgba($theme-color-accent, 0.1);
        border-radius: 8px;
        padding-top: 8px;

        .remove-button {
          width: 80px;
          box-sizing: border-box;
          margin: 0 10px -5px auto;

          pointer-events: auto;
          cursor: pointer;
          user-select: none;

          text-align: center;
          background: rgba(red, 0.2);
          border-radius: 8px;
          box-shadow: 1px 1px 12px 0 rgba($theme-color-dark, 0.3);

          &:hover {
            box-shadow: inset 1px 1px 20px -8px rgba($theme-color-dark, 0.6);
          }
        }
      }
    }
  }

  .bottom {
    margin-top: 20px;
    flex: 0 0 300px;
  }
}