@import '_variables.scss';

#app {
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;

  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: start;

  > #topbar {
    flex: 0 0 $topbar-height;
  }

  > #content {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;

    > #view {
      background: rgba($theme-color-primary, 0.1);
      box-shadow: inset 4px 4px 10px 0 rgba($theme-color-dark, 0.6);
      padding: 8px;
      flex: 1 1 100%;
    }
  }
}
