@import '_variables.scss';

#sidebar {
  display: flex;
  flex-flow: column nowrap;

  flex: 0 0 $sidebar-width;
  width: $sidebar-width;
  height: auto;
  padding: 8px 4px 16px;
  overflow: hidden;

  box-shadow: inset 0 12px 12px -8px rgba($theme-color-dark, 0.6);
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  background: linear-gradient(
                  to bottom,
                  $theme-color-primary,
                  $theme-color-accent
  );

  &:hover {
    width: $sidebar-width-wide;
    flex: 0 0 $sidebar-width-wide;
  }


}
