@import '_variables.scss';

#sidebar {
  display: flex;
  flex-flow: column nowrap;

  width: $sidebar-width;
  padding: 8px 0 0;
  overflow: hidden;

  $animation: all 0.3s ease-out;
  box-shadow: inset 0 12px 12px -8px rgba($theme-color-dark, 0.6);
  transition: $animation;
  background: linear-gradient(
                  to bottom,
                  $theme-color-primary,
                  $theme-color-accent
  );

  &:hover {
    width: $sidebar-width-wide;

    > .sidebar-button {
      min-width: $sidebar-width-wide - 24px;
    }
  }

  > .sidebar-button {
    display: flex;
    flex-flow: row nowrap;

    min-width: $sidebar-width - 24px;
    overflow: hidden;
    box-sizing: border-box;
    pointer-events: auto;
    cursor: pointer;

    padding: 6px;
    margin: 6px;
    height: 38px;
    color: $theme-color-dark;
    text-decoration: none;
    transition: $animation;
    border-radius: 10px;

    &:hover {
      box-shadow: 0 0 16px 0 rgba($theme-color-dark, 0.6);
    }

    &.active {
      background-color: $theme-color-accent;
    }

    > .icon {
      flex: 0 0 auto;
      padding-right: 12px;
    }

    > h3 {
      flex: 1 1 auto;
    }
  }
}
