$font-stack: Tahoma, Verdana, Segoe, sans-serif;
$topbar-height: 45px;
$sidebar-width: 50px;
$sidebar-width-wide: 175px;

$theme-color-primary: #7fe2ff;
$theme-color-accent: #d1632b;
$theme-color-bright: white;
$theme-color-dark: black;
