$font-stack: Tahoma, Verdana, Segoe, sans-serif;
$topbar-height: 3em;
$sidebar-width: 4em;
$sidebar-width-wide: 10em;

$theme-color-primary: #7fe2ff;
$theme-color-accent: #A55D35;
$theme-color-bright: white;
$theme-color-dark: black;
